To read from json files
df = pd.read_json("details.json")
print(df)

In [3]:
#to read from csv files
import pandas as pd
df = pd.read_csv("sales_data.csv")
print(df)

    OrderID Product Quantity   Price   Total Customer        Date
0     101.0   Shirt        3  2000.0  6000.0      NaN  17-08-2025
1     102.0   Watch        2  2000.0  4000.0  Charlie  2025/09/02
2     103.0   Watch      NaN     NaN     NaN      Eve  08-08-2025
3     104.0     Bag        4  1500.0  6000.0      NaN  2025-08-15
4     105.0   Watch        1  1500.0  1500.0    David  2025/08/01
..      ...     ...      ...     ...     ...      ...         ...
95    196.0   Shoes    Three   500.0     NaN  Charlie  2025/08/28
96    197.0   Shoes      NaN  1500.0     NaN    Grace  2025/08/24
97    198.0   Shirt        1     NaN     NaN    David  10-08-2025
98      NaN   Watch        5  1500.0  7500.0      Bob  2025-08-30
99    200.0   Shirt        4   500.0  2000.0  Charlie  2025-09-03

[100 rows x 7 columns]

In [9]:
#understanding our data

df = pd.read_csv("sales_data.csv")
print(f'The first 5 rows are :\n{df.head(5)}')              #to print first 5 rows
print(f'The last 5 rows are :\n{df.tail(5)}')              #to print last 5 rows
print("\n The Information about the data is as below : \n")
print(df.info())               #to display the summarised info of dataset

The first 5 rows are :
   OrderID Product Quantity   Price   Total Customer        Date
0    101.0   Shirt        3  2000.0  6000.0      NaN  17-08-2025
1    102.0   Watch        2  2000.0  4000.0  Charlie  2025/09/02
2    103.0   Watch      NaN     NaN     NaN      Eve  08-08-2025
3    104.0     Bag        4  1500.0  6000.0      NaN  2025-08-15
4    105.0   Watch        1  1500.0  1500.0    David  2025/08/01
The last 5 rows are :
    OrderID Product Quantity   Price   Total Customer        Date
95    196.0   Shoes    Three   500.0     NaN  Charlie  2025/08/28
96    197.0   Shoes      NaN  1500.0     NaN    Grace  2025/08/24
97    198.0   Shirt        1     NaN     NaN    David  10-08-2025
98      NaN   Watch        5  1500.0  7500.0      Bob  2025-08-30
99    200.0   Shirt        4   500.0  2000.0  Charlie  2025-09-03

 The Information about the data is as below :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   95 non-null     float64
 1   Product   100 non-null    object
 2   Quantity  84 non-null     object
 3   Price     84 non-null     float64
 4   Total     50 non-null     float64
 5   Customer  82 non-null     object
 6   Date      100 non-null    object
dtypes: float64(3), object(4)
memory usage: 5.6+ KB
None

In [7]:
#to display the descriptive stats of numerical data columns
#datasets read from above
print(df.describe())

          OrderID        Price         Total
count   95.000000    84.000000     50.000000
mean   149.894737  1220.238095   3608.000000
std     28.906479   603.958780   2612.125571
min    101.000000   500.000000    500.000000
25%    125.000000   500.000000   1500.000000
50%    150.000000  1500.000000   2650.000000
75%    174.500000  1625.000000   6000.000000
max    200.000000  2000.000000  10000.000000

In [ ]:
#some attributes to know about dataset

data = pd.read_csv("sales_data.csv")
print(f'The shape of dataset is : {data.shape}')    #for shape (row x columns)
print(f'The columns in dataset are : {data.columns}')  #for columns name

The shape of dataset is : (100, 7)
The columns in dataset are : Index(['OrderID', 'Product', 'Quantity', 'Price', 'Total', 'Customer', 'Date'], dtype='object')

In [ ]:
#selecting specific columns

df = pd.read_csv("sales_data.csv")
print(f'Printing single column :\n{df['Price']}')      #displays only price column
print("\nPrinting multiple columns :")
columns = df[['Price','Customer']]                     #displays multiple columns
print(columns)

Printing single column :
0     2000.0
1     2000.0
2        NaN
3     1500.0
4     1500.0
       ...
95     500.0
96    1500.0
97       NaN
98    1500.0
99     500.0
Name: Price, Length: 100, dtype: float64

Printing multiple columns :
     Price Customer
0   2000.0      NaN
1   2000.0  Charlie
2      NaN      Eve
3   1500.0      NaN
4   1500.0    David
..     ...      ...
95   500.0  Charlie
96  1500.0    Grace
97     NaN    David
98  1500.0      Bob
99   500.0  Charlie

[100 rows x 2 columns]

In [23]:
#selecting some specific rows that are following specific condition

#single condition
df = pd.read_csv("sales_data.csv")
row_filtered = df[df["Price"] == 500]
print("Sales data for price of Rs 500 :\n")
print(row_filtered)

Sales data for price of Rs 500 :

    OrderID Product Quantity  Price   Total Customer        Date
9     110.0   Watch        1  500.0   500.0    Alice  2025/09/10
17    118.0   Watch        3  500.0  1500.0  Charlie  2025-08-23
21    122.0     Bag        5  500.0  2500.0    Alice  2025/08/21
22    123.0    Belt        1  500.0   500.0    Grace  2025/09/05
23    124.0     Cap      NaN  500.0     NaN      Eve  16-09-2025
39    140.0     Bag      NaN  500.0     NaN      NaN  2025-09-06
41    142.0     Cap      NaN  500.0     NaN      NaN  2025-08-05
42    143.0    Belt        3  500.0  1500.0    Frank  12-08-2025
53    154.0     Cap        4  500.0  2000.0    Frank  2025/09/15
60    161.0    Belt        5  500.0  2500.0    Grace  2025/08/16
62    163.0     Bag        2  500.0  1000.0    Alice  15-08-2025
69      NaN     Cap        1  500.0     NaN  Charlie  14-08-2025
73    174.0    Belt        2  500.0  1000.0    Grace  2025-09-18
77    178.0   Watch        4  500.0  2000.0      Bob  19-08-2025
78    179.0   Shirt        4  500.0  2000.0    Frank  2025-09-02
79    180.0   Watch        5  500.0  2500.0      NaN  2025/08/05
81    182.0     Cap        2  500.0  1000.0      NaN  08-08-2025
84    185.0   Shoes        1  500.0     NaN      Eve  2025/08/01
87    188.0   Shirt    Three  500.0     NaN    Frank  2025-08-28
93    194.0   Shoes    Three  500.0     NaN      Eve  2025-09-18
95    196.0   Shoes    Three  500.0     NaN  Charlie  2025/08/28
99    200.0   Shirt        4  500.0  2000.0  Charlie  2025-09-03

In [31]:
#for multiple condition

rows = df[(df["Price"] == 500) & (df["Customer"] == "Frank")]
print(rows)

    OrderID Product Quantity  Price   Total Customer        Date
42    143.0    Belt        3  500.0  1500.0    Frank  12-08-2025
53    154.0     Cap        4  500.0  2000.0    Frank  2025/09/15
78    179.0   Shirt        4  500.0  2000.0    Frank  2025-09-02
87    188.0   Shirt    Three  500.0     NaN    Frank  2025-08-28