### Great to revise the PYTHON

In [1]:
print("Starting my Data Analytics Journey...")

Starting my Data Analytics Journey...

In [3]:
#Basic Calculator

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

sum = num1 + num2
diff = num1 - num2
product = num1 * num2
div = num1/num2

print("Sum is:",sum)
print("Difference is:",diff)
print("Product is:",product)
print("Division is:",div)

Sum is: 30
Difference is: 18
Product is: 144
Division is: 4.0

#### List Comprehension

In [ ]:
# normal list

squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# list comprehension with conditioj

even_square = [num**2 for num in range(10) if num%2==0]
print(even_square)

[0, 4, 16, 36, 64]

In [ ]:
#list comprehension with nested loops
l1 = [1,2,3,4,5]
l2 = ['a','b','c','d','e']
set_num = [[i,j] for i in l1 for j in l2] 
print(set_num)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [ ]:
# list comprehension with function call
fruits = ["apple","banana","cherry","strawberry","mango"]
lst = [len(word) for word in fruits]
print(lst)

[5, 6, 6, 10, 5]

#### TUPLES

In [1]:
#SOME Methods

tpl = (4,5,6,4,9,4,6,4)
print(tpl.count(4))
print(tpl.index(5))

4
1

In [ ]:
#packing the tuple --> automatically packs the tuple

tpl = 1,5,4
print(tpl)

(1, 5, 4)

In [4]:
#unpacking the tuple
tpl = (1,2,"hello")
a,b,c = tpl
print(a,b,c)

1 2 hello

In [10]:
#second method to unpack tuple
tpl = (1,2,"hello world","chirag",3.14,True)
first, *middle, last = tpl
print(first)
print(middle)
print(last)

1
[2, 'hello world', 'chirag', 3.14]
True

#### SETS

In [ ]:
#to delete elements from the set

s = {1,2,3,4,5,6,7,8,9}
s.remove(2)               #delete the specified element
print(s)

s.pop()                  #delete the first element 
print(s)

s.clear()                #delete the whole set
print(s)

{1, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
set()

In [ ]:
#Mathematical operations
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

#union 
s = s1.union(s2)
print(s)

#intersection and intersection_update

s = s1.intersection(s2)  #not update the existing set 
print(s)

s1.intersection_update(s2)   #updates the existing set
print(s1)

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

diff = s1.difference(s2)
print(diff)

s1.difference_update(s2)    #update the set  
s1

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

print(s1.symmetric_difference(s2)) #eliminates the common elements from both set and print the unique element set

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3}
{1, 2, 3, 7, 8, 9}

In [20]:
#counting the unique words in an sentence
str = "I am the person who is the person to explore the nature"
s = str.split(" ")
s1 = set(s)
print("unique words are: ",s1)
print("The total unique words are: ",len(s1))

unique words are:  {'nature', 'who', 'to', 'person', 'I', 'is', 'am', 'explore', 'the'}
The total unique words are:  9

#### Dictionary

In [ ]:
student = {"name":"chirag","age":21,"address":"India"}

print(student.keys())   #to get all the keys
print(student.values()) #to get all the values 
print(student.items())  #to get all the elements as pair in list

dict_keys(['name', 'age', 'address'])
dict_values(['chirag', 21, 'India'])
dict_items([('name', 'chirag'), ('age', 21), ('address', 'India')])

In [3]:
#shallow copy --> change in one doesn't reflect to its copy

student_copy = student.copy()
student["name"] = "Mittal"
print(student)
print(student_copy)

{'name': 'Mittal', 'age': 21, 'address': 'India'}
{'name': 'chirag', 'age': 21, 'address': 'India'}

In [6]:
# Iterate over keys
for key in student.keys():
    print(key)

print()

# Iterate over values 
for value in student.values():
    print(value) 

print()

# Iterate over key and value pairs
for key,value in student.items():
    print(key,value,sep=" ")

name
age
address

Mittal
21
India

name Mittal
age 21
address India

In [11]:
# Nested Dictionaries
students = {
    "student1": {"name": "chirag", "age": 21},
    "student2": {"name": "john", "age": 22}
}

print(students["student1"]["name"])
print(students["student2"]["age"])

chirag
22

In [12]:
#Iterate over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f'{key}:{value}')

student1:{'name': 'chirag', 'age': 21}
name:chirag
age:21
student2:{'name': 'john', 'age': 22}
name:john
age:22

In [14]:
#Dictionary comprehension

dict_squares = {x:x**2 for x in range(10)}
print(dict_squares)

dict_even_squares = {x:x**2 for x in range(10) if x%2==0}
print(dict_even_squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [16]:
#Problem --> count frequency of number in the list
l = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,6,6,6,6,6,6]
freq = {}
for num in l:
    if num in freq:
        freq[num] += 1
    else:
        freq[num] = 1
print(freq)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [28]:
#problem --> merge two dictionaries into one
student1 = {"name": "chirag", "age": 21}
student2 = {"address": "India", "state": "U.P"}

merged = {**student1, **student2}
print(merged)

{'name': 'chirag', 'age': 21, 'address': 'India', 'state': 'U.P'}